@import '../../styles/color-variables.scss';

.xor-button {
  font-family: $regular-font, sans-serif;
  font-weight: $font-weight-base;
  color: $white;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 11px 20px;
  
  &:disabled{
    opacity: 0.4;
    pointer-events: none;
  }
  
  &.primary {
    background-color: $primary;
    border: 1px solid $primary;
    &:hover{
      background-color: tint-color($primary, 20%);
    }
  }
    
  &.secondary {
    background-color: $secondary;
    border: 1px solid $secondary;
    &:hover{
      background-color: tint-color($secondary, 20%);
    }
  }

  &.danger {
    background-color: $danger;
    border: 1px solid $danger;
    &:hover{
      background-color: tint-color($danger, 20%);
    }
  }

  &.default {
    font-size: 13px;
  }

  &.small {
    font-size: 10px;
    padding: 10px 16px;
  }

  &.large {
    font-size: 16px;
    padding: 12px 24px;
  }

  &.outline {
    background-color: $white;
    color: $gray-800;
    &:hover{
      color: $white;
    }
  }
}